#navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 9vh;
  background-color: black;
}

#navbar .logo {
  width: 100px;
  margin: 5px 15px 0 15px;
  position: relative;
}

#navbar .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 10;
}

#navbar .user-container {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid blue;
}

#navbar .user-container .unlogged-user {
  display: flex;
  flex-direction: column;
  margin: 0 10px -12px 0;
  align-items: center;
  justify-content: flex-end;
  
}

#navbar .user-container .unlogged-user span {
  color: white;
  font-size: 1.1rem;
  transition: color 0.3s ease-in;
  margin: 0 15px;
}

#navbar .user-container .unlogged-user small {
  font-size: 0.6rem;
  margin: 5px 0 2px 0;
  color: #944b5a;
  cursor: pointer;
  transition: color 0.3s ease-in;
}

#navbar .user-container .unlogged-user small:hover {
  color: #c06174;
}

#navbar .user-container .unlogged-user span:hover {
  color: #b9a812;
  cursor: pointer;
}


#navbar .user-container .logged-user{
  margin: 7px 20px 0 0;
  position: relative; 
}
#navbar .user-container .circle{
  width: 35px; 
  height: 35px; 
  border-radius: 50px; 
  background-color: #B9A911;
  position: relative;
  cursor: pointer; 
}



#navbar .user-container .circle span{
 position: absolute; 
 top: 7px; 
 left: 6px; 
 color: black; 
 font-size: 2.2rem; 
}

#navbar .user-container .user-menu{
  position: absolute; 
  bottom: -105px; 
  right: -24px; 
  width: 120px; 
  height: 100px; 
  background-color: black;
  color: white;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  z-index: 20;
}


#navbar .user-container .user-menu span{
  list-style: none;
  padding: 2px 0; 
  margin: 0;
  font-size: .8rem; 
  cursor: pointer; 
  text-transform: uppercase;
  font-weight: 600;
  outline: none; 
}

