<div id="navbar">
  <div class="logo" [routerLink]="['/home']">
    <img class="logo-image" src="../../assets/images/star_wars_logo.png" />
  </div>
  <div class="user-container">
    <div class="unlogged-user">
      <span [routerLink]="['/signin']" *ngIf="!loginStatus">Sign In</span>
      <small [routerLink]="['/signup']" *ngIf="!loginStatus"
        >Not registered?</small
      >
    </div>
    <div class="logged-user" *ngIf="loginStatus">
      <div class="circle" (click)="toggleUserMenu($event)">
        <span class="swg swg-darthvader"></span>
      </div>
      <div class="user-menu" *ngIf="userMenuIsActive"  >
        <span [routerLink]="['/ships']">My Ships</span>
        <span [routerLink]="['/new-ship']">Add ship</span>
        <span (click)="onLogOut()">Logout</span>
      </div>
    </div>
  </div>
</div>
