
<div id="ships">
  <h1>Ships</h1>
  <app-modal>
    <app-ship [ship]="ship"></app-ship>
  </app-modal>
  <div class="ships-container">
    <div *ngFor="let ship of ships" class="ship-basic" (click)="onShowShipInfo(ship)">
      <div class="ship-header" >
        <h5>{{ ship.name }}</h5>
      </div>
      <div class="ship-image">
        <img
          src="{{ onFetchImageLink(ship.url) }}"
          onerror="this.src='assets/images/no-picture.png'"
        />
      </div>
    </div>
  </div>
  <button
    [disabled]="previousUrl === null ? true : false"
    (click)="onFetchLink(previousUrl)"
  >
    Previous
  </button>
  <button
    [disabled]="nextUrl === null ? true : false"
    (click)="onFetchLink(nextUrl)"
  >
    Next
  </button>
</div>
