<div id="ships">
  <div class="page-title">
    <h1>Ships</h1>
  </div>
  <app-modal>
    <app-ship [ship]="ship"></app-ship>
  </app-modal>
  <div class="buttons-container">
    <button
      [disabled]="previousUrl === null ? true : false"
      (click)="onFetchLink(previousUrl)"
    >
      Previous
    </button>
    <button
      [disabled]="nextUrl === null ? true : false"
      (click)="onFetchLink(nextUrl)"
    >
      Next
    </button>
  </div>
  <div class="ships-container">
    <div
      *ngFor="let ship of ships"
      class="ship-basic"
      (click)="onShowShipInfo(ship)"
    >
      <div class="ship-header">
        <span>{{ ship.name }}</span>
      </div>
      <div class="ship-image">
        <img
          src="{{ship.url? onFetchImageLink(ship.url) : onFetchImageLink(ship.image) }}"
          onerror="this.src='assets/images/no-picture.png'"
        />
      </div>
    </div>
  </div>
</div>
