#new-ship {
  width: 100vw;
  height: 100vh;
  padding: 1vw;
  position: relative;
}

#new-ship .form-container {
  display: flex;
  width: 300px;
  margin: 35px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#new-ship .input-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 290px;
  padding: 15px 0;
}

#new-ship .input-container input {
  height: 35px;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  outline: none;
  transition: 0.175s ease-in;
}

#new-ship .input-container input:focus {
  border: 1px solid #66afe9;
  box-shadow: 1px 1px 10px 1px #66aee959;
  //   box-shadow: 1px 1px 10px 1px #66AFE9;
}

#new-ship .input-container small {
  position: absolute;
  bottom: -9px;
  left: 5px;
  color: red;
  font-weight: 600;
}

#new-ship .buttons-container {
  margin: 25px 0;
}

#new-ship .buttons-container a {
  padding: 0 15px;
}

#new-ship .buttons-container button {
  width: 90px;
  padding: 8px 15px;
  border-radius: 7px;
  background-color: #565656;
  color: white;
  outline: none;
  border: none;
  transition: background-color 0.3s linear;
}
#new-ship .buttons-container button:hover {
  background-color: #5c5c5c;
}

#new-ship .buttons-container button:disabled {
  color: grey;
  background-color: rgb(250, 250, 250);
}
